body {
	font-size: 9pt;
	line-height: 1.25em;
}
/* Header */

#header {
	display: none;
}

#skel-panels-pageWrapper {
	padding-top: 40px;
}

#titleBar
{
	background: #666;
}

	#titleBar .title a
	{
		display: block;
		color: #fff;
		text-align: center;
		line-height: 44px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.4em;
		font-weight: 700;
	}
	
	#titleBar .title span
	{
		display: none;
	}

	#titleBar .toggle
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
		height: 60px;
	}

		#titleBar .toggle:before
		{
			content: '';
			display: block;
			width: 60px;
			height: 40px;
			border-radius: 4px;
			position: absolute;
			left: 5px;
			top: 5px;
		}

		#titleBar .toggle:after
		{
            /* todo add bg image */
            content: '';
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 15px;
			top: 15px;
			opacity: 1;
		}

		#titleBar .toggle:active:after
		{
			opacity: 1;
		}

#navPanel
{
	background: #303030;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
	font-size: 1em;
}

	#navPanel .link
	{
		display: block;
		color: #ddd;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border: 0;
		border-top: solid 1px #616161;
		padding: 0 1em 0 1em;
	}
	
	#navPanel .link:first-child
	{
		border-top: 0;
	}
		
	#navPanel .link.depth-0
	{
		font-weight: 600;
		color: #fff;
	}

