body {
	font-size: 9pt;
	line-height: 1.25em;
}
/* Header */

#header {
	display: none;
}

#skel-panels-pageWrapper {
	padding-top: 40px;
}

#titleBar
{
	background: #666;
}

	#titleBar .title a
	{
		display: block;
		color: #fff;
		text-align: center;
		line-height: 44px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.4em;
		font-weight: 700;
	}
	
	#titleBar .title span
	{
		display: none;
	}

	#titleBar .toggle
	{
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
		height: 60px;
	}

		#titleBar .toggle:before
		{
			content: '';
			display: block;
			width: 60px;
			height: 40px;
			border-radius: 4px;
			position: absolute;
			left: 5px;
			top: 5px;
		}

		#titleBar .toggle:after
		{
            /* todo add bg image */
            content: '';
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 15px;
			top: 15px;
			background: url('images/mobileUI-site-nav-opener-bg.svg') 0px 0px no-repeat;
			opacity: 1;
		}

		#titleBar .toggle:active:after
		{
			opacity: 1;
		}

/* Wrapper */

#wrapper {
	overflow: hidden;
	padding: 2em 0em 0em 0em;
}

/* Page Wrapper */

#page {
}

/* Banner */

#banner {
	overflow: hidden;
}

#banner .container {
	background: #FFFFFF;
}

#banner a img {
	display: block;
	width: 100%;
}

/* Content */

#content {
}

h2 {
	padding: 5px;
	font-size: 1.25em;
}

#content .subtitle {
	padding: 0em 0em 1.25em 0em;
	line-height: 120%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-weight: 300;
	font-style: italic;
	color: #7D7D7D;
}

#content img {
	padding: 0em 0em 0.62em 0em;
}

#content a img {
	display: block;
	width: 100%;
}

.post {
	margin: 22px;
}

#content section {
	padding: 0em 1.87em;
}


#navPanel
{
	background: #303030;
	font-weight: 400;
	text-transform: uppercase;
	color: #888;
	letter-spacing: 2px;
	font-size: 1em;
}

	#navPanel .link
	{
		display: block;
		color: #ddd;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border: 0;
		border-top: solid 1px #616161;
		padding: 0 1em 0 1em;
	}
	
		#navPanel .link:first-child
		{
			border-top: 0;
		}
		
		#navPanel .link.depth-0
		{
			font-weight: 600;
			color: #fff;
		}

		#navPanel .indent-1 { display: inline-block; width: 1em; }
		#navPanel .indent-2 { display: inline-block; width: 2em; }
		#navPanel .indent-3 { display: inline-block; width: 3em; }
		#navPanel .indent-4 { display: inline-block; width: 4em; }
		#navPanel .indent-5 { display: inline-block; width: 5em; }
		#navPanel .depth-0 { color: #fff; }
    


